<!--
  Generated template for the SellbikeOnePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Sell Bike</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
      <h4 class="mb-0 text-center text-uppercase">SELL MOTORBIKE</h4>
      <p class="m-b-10 text-center mt-0">Create your classified ad in 4 easy steps</p>
    <form [formGroup]="form" (ngSubmit)="Sellbiketwo(form.value)">
      <ion-card class="ml-0 mr-0 mt-0 w-100 step-card">
        <ion-card-content class="pl-0 pr-0">
          <ion-grid class="p-0">
            <ion-row>
              <ion-col col-12 class="pl-0 pr-0">
                <ul class="step-holder">
                  <li class="active">
                    <div class="number">1</div>
                    <p>Step 1</p>
                  </li>
                  <li>
                    <div class="number">2</div>
                    <p>Step 2</p>
                  </li>
                  <li>
                    <div class="number">3</div>
                    <p>Step 3</p>
                  </li>
                  <li>
                    <div class="number">4</div>
                    <p>Step 4</p>
                  </li>
                </ul>
              </ion-col>
   
            </ion-row>
          </ion-grid>
          
          <ion-list class="post-fields">
  
              <!-- <ion-item class="p-0">
                  <ion-input type="text" placeholder="Title" formControlName="reg_number" (ngModelChange)="checklength($event,form.value)"></ion-input>
                </ion-item>
                <p *ngIf="lengthmatch" ion-text color="danger">Title should have min 10 characters</p> -->

<ion-item  class="p-0">
                  <ion-input type="text" placeholder="Title" formControlName="reg_number"></ion-input>
                </ion-item>

                <div class="error" ion-text color="danger" *ngIf="form.get('reg_number').hasError('required') && form.get('reg_number').touched">
                    Title is required
                    </div>
                    <div class="error" ion-text color="danger" *ngIf="form.get('reg_number').hasError('minlength') && form.get('reg_number').touched">
                    Minimum of 10 characters
                    </div>




            <ion-item class="p-0">
                <!-- <ion-select class="Select-new" formControlName="make_id" placeholder="Make"> -->
                    <ion-select placeholder="Make"  formControlName="make_id" class="Select-new"><ion-label>Make</ion-label>
                      <ion-option *ngFor="let item of make">{{item.make_name}}</ion-option>
                </ion-select >
            </ion-item>
            <div class="error" ion-text color="danger" *ngIf="form.get('make_id').hasError('required') && form.get('make_id').touched">
              Make name is required
              </div>
     
            <!-- <div class="error" ion-text color="danger" *ngIf="form.get('make_id').hasError('required')">
               is required
                </div> -->
        

           
            <ion-item  class="p-0">
                <ion-select  class="Select-new" formControlName="model_id" placeholder="Model"> <ion-label>Model</ion-label>
                    <ion-option *ngFor="let item of model">{{item.model_name}}</ion-option>
                  </ion-select>
            </ion-item>
  
            <!-- <p *ngIf="!form.controls['model_id'].error>Please Select The Model Name</p> -->
          </ion-list>

        </ion-card-content>
      </ion-card>
      <button ion-button block  class="text-uppercase" [disabled]="!form.valid">START</button>
    </form>
  </ion-content>
  
<!--   
  <ion-footer>
    <ion-toolbar>
      <div class="tabs-sell">
        <ul>
          <li>
            <a href="">
              <div class="icon">
                <img src="../../assets/imgs/tab-icon-sell/profile-h.png" alt="" />
              </div>
              Profile
            </a>
          </li>
          <li>
            <a href="">
              <div class="icon">
                <img src="../../assets/imgs/tab-icon-sell/bike-h.png" alt="" />
              </div>
              Sell Bike
            </a>
          </li>
          <li>
            <a href="">
              <div class="icon">
                <img src="../../assets/imgs/tab-icon-sell/gear-h.png" alt="" />
              </div>
              Sell Gear
            </a>
          </li>
          <li>
            <a href="">
              <div class="icon">
                <img src="../../assets/imgs/tab-icon-sell/profile-h.png" alt="" />
              </div>
              Chats</a>
          </li>
        </ul>
      </div>
    </ion-toolbar>
  </ion-footer>
   -->