page-listed-gears {
    .total{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        border-radius: 2px;
        background-color: #fff;
        margin-bottom: 20px;
        padding: 8px 8px;
    }
    .bike-listing{
        width: calc(100% - 80px);
        float: right;
        position: relative;
    }
    
    .button-area{
        // position: absolute;
        // top:0px;
        // right: 0px;
    }
    
    .bike-list-image{
        width: 80px;
        float: left;
    }
    .bike-list-image img{
        width: 80px;
        float: left;
        width: 85px;
        height: 75px;
        object-fit: cover;
        border: 2px solid #ebeaea;
    }
    
    .bike-listing .item-inner{
        border-bottom: none!important;
    }
    .list-titel{
        color: #000;
        font-size: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 76%;
    }
    .list-para{
        font-size: 13px;
        color: #b0b4b9;
    }
    .bold{
        color:#f56f30;
        margin-left: 5px;
        font-size: 18px;
        font-weight: 400;
    }
    
    .bike-listing .label-ios{
        margin: 4px 0px;
    }
    
    
    
}
