page-seller-order-details {
    .scroll-content {
        background: #e4e4e4;
    }
    .box{
        width: 100%;
        background: #fff;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(219,212,219,1);
        -moz-box-shadow: 0px 2px 5px 0px rgba(219,212,219,1);
        box-shadow: 0px 2px 5px 0px rgba(219,212,219,1);
        padding: 10px 5px;
        margin-bottom: 10px;
    
    }
    .image-w{
       height: 100px;
        /* background: #000; */
        overflow: hidden;
        height: 97px;
        border: #eeeeee 2px solid;
    }
    .image-w img{
        max-width: 100%;
    }
    .titel2{
        padding: 0px 0 0 9px;
        font-size: 14px;
        color: #585858;
        margin: 0;
        font-weight: bold;
    }
    .titel2 span{
        float: right;
    }
    .titel3{
        padding: 0px 0 0 9px;
        font-size: 13px;
        color: #585858;
        margin: 5px 0 0 0;
        font-weight: bold;
    }
    .titel3 span{
        float: right;
    }

    
    .gra-bg{
        background:#fff;
        padding: 5px;
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .gra-bg span{
        float: right;
        color: #635b5b;
        font-weight: normal;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .line3{
        width: 100%;
        background: #e6e6e6;;
        height: 1px;
        
    }
    .span1{
        padding: 0;
        margin: 0;
        color: #000!important;
        float: left!important;
    }
    .span2{
        padding: 0;
        margin: 0;
        color: #000!important;
        
    }
    .price-text{
            color: #f56f30 !important;
    }

    .margin-bottom-100{
		margin-bottom: 100px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
    }
    
    .pricetitle{
        padding: 10px 8px 4px 7px;
        font-size: 18px;
        color: #585858;
        margin: 5px 0 0 0;
        font-weight: bold;
        background:white;
    }

    .pricetitle span{
        float: right;
    }
}
