<!--
  Generated template for the AddgearPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
		<ion-title *ngIf="!id">Addgear</ion-title>
		<ion-title *ngIf="id">Editgear</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h4 class="text-center text-uppercase add-gear-title">GEARS</h4>
    <form [formGroup]="form" (ngSubmit)="addgear(form.value)" >
	<ion-item class="form-gear-area">
	  <ion-label>Choose Clothing Category</ion-label>
	  <ion-select formControlName="category_id" #C (ionChange)="getSubcategory(C.value)">
	    <ion-option *ngFor="let item of category" value="{{item.id}}">{{item.name}}</ion-option>
	  </ion-select>
	</ion-item>
  <p *ngIf="!form.controls['category_id'].valid && form.controls['category_id'].touched" ion-text color="danger"> Category is required </p>
	

	<!-- Subcategory -->
	<ion-item class="form-gear-area" *ngIf="subCatList!=''">
	  <ion-label>Choose Subcategory</ion-label>
	  <ion-select formControlName="subcat_id" #C (ionChange)="onChange(C.value)">
	    <ion-option *ngFor="let item of subCatList" value="{{item.id}}" >{{item.name}}</ion-option>
	  </ion-select>
	</ion-item>

<!-- Extra field subcategory wise -->

<div *ngIf="clothing==true">
	<ion-item class="form-gear-area">
	<ion-label  *ngIf="sizeArray !=''">Size</ion-label>
	<ion-select formControlName="size_id" >
		<ion-option *ngFor="let item of sizeArray" value="{{item.id}}">{{item.size}}</ion-option>
	</ion-select>
</ion-item>



<!-- <ion-item class="form-gear-area">
	<ion-label>Quantity</ion-label>
	<ion-select formControlName="quantity">
		<ion-option >qqq</ion-option>
	</ion-select>
</ion-item> -->

<ion-item class="form-gear-area">
	<ion-label>Gender</ion-label>
	<ion-select formControlName="gender">
		<ion-option *ngFor="let item of genderArray" value="{{item}}">{{item}}</ion-option>
	</ion-select>
</ion-item>

<ion-item class="form-gear-area">
	<ion-label  *ngIf="styleArray !=''">Style</ion-label>
	<ion-select formControlName="style">
		<ion-option *ngFor="let item of styleArray" value="{{item.id}}">{{item.name}}</ion-option>
	</ion-select>
</ion-item>


<ion-item class="form-gear-area">
	<ion-label>CE Approved</ion-label>
	<ion-select formControlName="ce_approved">
		<ion-option *ngFor="let item of ceapprovedArray" value="{{item}}">{{item}}</ion-option>
	</ion-select>
</ion-item>


<ion-label  style="color:gray">Colour</ion-label>
<ion-item class="form-gear-area">

	<ion-select formControlName="colour_id">
		
		<ion-option placeholder="Select Colour" *ngFor="let item of colour">{{item.name}}</ion-option>
	</ion-select>
</ion-item>
<p *ngIf="!form.controls['colour_id'].valid && form.controls['colour_id'].touched" ion-text color="danger"> Select the colour </p>
</div>






<ion-item class="form-gear-area" *ngIf="showVVO==true || showVisVol==true ||VVOD==true">
	<ion-label>Viscocity</ion-label>
	<ion-select formControlName="viscocity">
		<ion-option *ngFor="let item of viscosityArray" value="{{item}}">{{item}}</ion-option>
	</ion-select>
</ion-item>

<ion-item class="form-gear-area" *ngIf="showVVO==true || showVisVol==true ||showVol==true ||VVOD==true">
	<ion-label>Volume</ion-label>
	<ion-select formControlName="volume">
		<ion-option *ngFor="let item of volumnArray" value="{{item}}">{{item}}</ion-option>
	</ion-select>
</ion-item>


<ion-item class="form-gear-area" *ngIf="showVVO==true ||VVOD==true">
	<ion-label>Oil Type</ion-label>
	<ion-select formControlName="oil_type">
		<ion-option *ngFor="let item of oiltypeArray" value="{{item}}">{{item}}</ion-option>
	</ion-select>
</ion-item>

<ion-item class="form-gear-area" *ngIf="VVOD==true">
	<ion-label>DOT Rating</ion-label>
	<ion-select formControlName="dot_rating">
		<ion-option *ngFor="let item of dotArray" value="{{item}}">{{item}}</ion-option>
	</ion-select>
</ion-item>




<!-- Extra field subcategory wise -->


	


		<ion-label style="color:gray" >Title</ion-label>
    <ion-item class="form-gear-area"><ion-input placeholder="Title" clearInput formControlName="product_name"></ion-input>
	</ion-item>
  <p *ngIf="!form.controls['product_name'].valid && form.controls['product_name'].touched" ion-text color="danger"> Title is required </p>

	<ion-item class="form-gear-area">
	<ion-label  style="color:gray">Brand</ion-label>
	  <ion-select formControlName="brand_id">
	    
	    <ion-option placeholder="Brand" *ngFor="let item of brand" value="{{item.id}}">{{item.brand_name}}</ion-option>
	  </ion-select>
	</ion-item>
	<p *ngIf="!form.controls['brand_id'].valid && form.controls['brand_id'].touched" ion-text color="danger"> Brand is required </p>
	
	<ion-item class="form-3">
		<ion-label  class="defult-color-l" stacked>Quantity</ion-label>
		<ion-input placeholder="Quantity" clearInput formControlName="quantity"></ion-input>
</ion-item>
<p *ngIf="!form.controls['quantity'].valid && form.controls['quantity'].touched" ion-text color="danger"> Quantity is required </p>


<ion-item class="form-gear-area">
	<ion-label  style="color:gray">Condition</ion-label>	
	  <ion-select formControlName="condition">
	    
	    <ion-option placeholder="Condition" *ngFor="let item of condition">{{item}}</ion-option>
	  </ion-select>
	</ion-item>
	<p *ngIf="!form.controls['condition'].valid && form.controls['condition'].touched" ion-text color="danger"> Condition is required </p>


	<ion-item class="form-3">
		<ion-label  class="defult-color-l" stacked>Price</ion-label>
		<ion-input placeholder="Price" clearInput formControlName="price"></ion-input>
</ion-item>
<p *ngIf="!form.controls['price'].valid && form.controls['price'].touched" ion-text color="danger"> Price is required </p>


<ion-item class="form-3">
	<ion-label  class="defult-color-l" stacked>Postage Cost</ion-label>
	<ion-input placeholder="Postage Cost" clearInput formControlName="postage_cost"></ion-input>
</ion-item>
<p *ngIf="!form.controls['postage_cost'].valid && form.controls['postage_cost'].touched" ion-text color="danger"> Postage Cost is required </p>

	<ion-label  style="color:gray">Listing Duration</ion-label>
	<ion-item style="background-color:gray">28 Days
	</ion-item>
	

	
	

	


	
	<ion-label  style="color:gray">Paypal Email</ion-label>
	<ion-item class="form-gear-area"><ion-input placeholder="Paypal Email" clearInput formControlName="paypal_email"></ion-input>
	</ion-item>
	<p *ngIf="form.get('paypal_email').hasError('required') && form.get('paypal_email').touched" ion-text color="danger">  Paypal Email is required </p>

<p class="error" *ngIf="form.get('paypal_email').hasError('pattern') && form.get('paypal_email').touched"  style="color:red;">
  Enter a valid email
  </p>

	<ion-label  style="color:gray">Return Policy</ion-label>
	<ion-item class="form-gear-area">
	
	  <ion-select formControlName="condition">
	    
	    <ion-option placeholder="Return Policy" *ngFor="let item of return_policy">{{item}}</ion-option>
	  </ion-select>
	</ion-item>
	<p *ngIf="!form.controls['return_policy'].valid && form.controls['return_policy'].touched" ion-text color="danger"> Select return policy </p>

	<ion-item class="form-3">
		  <ion-label  class="defult-color-l" stacked>Description</ion-label>
			<ion-textarea placeholder="Enter description" formControlName="description"></ion-textarea>
	</ion-item>
  <p *ngIf="!form.controls['description'].valid && form.controls['description'].touched" ion-text color="danger"> Description is required </p>
	<ion-col col-12>
		
		<h2 class="text-center m-b-20 m-t-15">Add up to 8 pictures</h2>
	</ion-col>
	<ion-col col-12>
		<div class="dashed-area">
			<a href="javascript:void()" (click)="presentActionSheet()" class="drag">  
				<img src="assets/imgs/camera.png" alt="" />
						<p> click here to upload</p>     </a>        
			<ul class="drag" *ngIf="photoArray!=''">
				<li *ngFor="let item of photoArray ;index as i">
				<img src="{{imagePath+item}}" alt="" />
				<a href="javascript:void()" (click)="remove_image(item.id)"><ion-icon name="close-circle"></ion-icon></a>
				</li>                    
				</ul>
		</div>
	</ion-col>


<!-- <ul class="upload-list" *ngIf="bikeimages && !id">
<li *ngFor="let item of bikeimages ;index as i ">
<img src="{{item}}" alt="" />
<a href="javascript:void()" (click)="remove_image(i)"><ion-icon name="close-circle"></ion-icon></a>
</li>
</ul> -->


<ul class="upload-list" *ngIf="bikeimages && id">
	<li *ngFor="let item of bikeimages ;index as i ">
	<img src="{{item.link}}" alt="" />
	<a href="javascript:void()" (click)="remove_image(item.id)"><ion-icon name="close-circle"></ion-icon></a>
	</li>
	
	</ul>
	<button ion-button block class="text-uppercase"  *ngIf="!id">Gear Add</button>
	<button ion-button block class="text-uppercase"  [disabled]="!form.valid " *ngIf="id">Gear Edit</button>
</form>
	<p class="text-center">  Weeks on the website: 4</p>

	<ion-col col-12 class="sell-bike-box">
			<div class="euro-img">
				<img src="assets/imgs/euro.png" alt="" />
	 		</div>
  </ion-col>
  
	

</ion-content>
