page-home {
	.home-slider {height:134px; width:100% !important; position:relative}
	.home-slider .swiper-slide{height:100%; width:100% !important; position:relative}
	.home-slider .swiper-slide .text-area{position:absolute; left:4%; top:10px; width:92%; text-align:left;}
	.home-slider .swiper-slide .text-area h5{color:#fff; font-family: 'calibribold'; margin:0}
	.home-slider .swiper-slide .text-area p{color:#fff; margin:0; font-size:1.1rem}
	.home-slider .swiper-slide .text-area .ad-logo{width:70px}
	.home-slider .swiper-slide .button{height:2.2rem; color:#f56f30; box-shadow:none; font-size:1.2rem; text-transform:uppercase}
	.swiper-pagination-bullet-active {background: #fff;opacity: 0.7;}
	
	.search-bike{background:#f4f4f4; box-shadow:none; text-align:center}
	.search-bike h2, .shop-gear h2{font-size:1.8rem; font-family: 'calibribold'; text-transform:uppercase; margin-bottom: 10px}
	.search-bike .button{box-shadow:none;}

	.shop-gear{background:#fff; box-shadow:none; text-align:center}
	
	.search-wrapper ion-item{border:1px solid #d2d2d2; border-radius:50px; }
	ion-label[fixed] {-webkit-box-flex: 0;-webkit-flex: 0 0 100px; -ms-flex: 0 0 50px; flex: 0 0 18px; width: 18px; min-width: 15px;  max-width: 20px; margin-top:5px; margin-bottom:5px}
	.text-input{margin-top:5px; margin-bottom:5px}

	.plus{border:2px solid #b7b7b7; border-radius:100%; width: 50px; height: 50px; margin: 20px auto 10px; display: inline-block; background: #fff; line-height: 50px; font-size:2.6rem}

	.options-wrap{width: 100%; list-style: none;padding:0; margin: 0; }
	.options-wrap li{width: calc(100%/3); float: left;}
	.options-wrap li a{display: block; text-decoration: none}
	.options-wrap li .round-image{width: 65px; height: 65px; background: #f56f30; border-radius:100%; padding: 14px; margin: 0 auto;}
	.options-wrap li p{text-transform: uppercase; margin-top:5px; font-size: 1.1rem; white-space: nowrap}
	.round2{
		width: 20px;
		height: 20px;
		border-radius: 50px;
		text-align: center;
		line-height: 20px;
		border: #f06421 1px solid;
		/* margin-top: 10px; */
		font-size: 12px;
	}

	.padding8{
		padding:8px;
	}


	// .p-0 {margin-bottom: 64px;}


	.count-0 {
		width: 15px;
		height: 15px;
		background: red;
		border-radius: 50px;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		color: #fff;
		font-size: 11px;


	}

.btnSearch{
height:40px;
background-color: gray;
}

.border
{
	margin-bottom:10px;
	height: 20px;
}

.borderSearch
{
	margin-bottom:5px;
	height: 20px;
}
.menuItem
{
	// width: 320px;
    background-color: white;
    margin-bottom: 5px;  
	border-radius: 50px;
	border: 1px solid #d7d4d4;
	max-height: 20px;
    // height: 20px !important;
}
.btnMenu{
	height:90px;
}
	.logo{width:100px; height: auto;margin: 7px 0 0 15px;}

	.cart-g{
		position: relative;
	}

	.margin-bottom-100{
		margin-bottom: 100px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}

.hide-bar{
	width: 100%;
}



}
