page-fabourite {
	.category-card ion-card-content{padding:0}
	.fab-list ion-item.item{padding-left:0; border-bottom:1px solid #e1e1e1; margin-left:10px; margin-right:10px; width:auto}
	.fab-list ion-item.item:last-child{border-bottom:0;}
	.fab-list ion-thumbnail{position:relative}
	.fab-list ion-thumbnail[item-start] {margin: 10px 10px 10px 0 !important;}
	.fab-list ion-thumbnail img{border-radius:2px; height:80px; width:85px; object-fit: cover; margin-right: 5px; border: 2px solid #edecec; margin-bottom: 5px;}
	.fab-icon{position:absolute; top:5px; right:5px; z-index:2; color:#ce5a5a}
	.fab-list ion-item h2{font-size:16px;font-weight: 600; line-height:1.5;  white-space:normal; margin-top:0 !important; margin-bottom:0}
	.fab-list ion-item b{font-size:14px; color:#3f5485; display:block}
	.fab-list ion-item p{font-weight:500; color:#555; font-size:14px;}
	.fab-list ion-item p span{font-weight:300}
	.fab-list ion-item.item-block{align-items: flex-start;}
	.scroll-content{padding: 10px !important;}
	.item-ios.item-block .item-inner, .item-md.item-block .item-inner {padding-right: 0;}
	ion-label.label{margin-right:0}
	//.back-button {display: block;}

	// .image-w{
	// 	height: 100px;
	// 	 /* background: #000; */
	// 	 overflow: hidden;
	// 	 height: 97px;
	// 	 border: #eeeeee 2px solid;
	//  }
	//  .image-w img{
	// 	 max-width: 100%;
	//  }
}
