page-search-vehicle {
	.title{margin-top:0 !important; text-align:left!important; text-transform:uppercase; color:#999999; font-size:1.1rem}
	.title span{display:block; font-size:1.4rem; font-weight:300; color:#fff}
	ion-header.header {}
	ion-header.header.header-ios {}
	
	
	.filter-bar{background:#e7e7e7}
	.filter-bar .button {border:0; box-shadow:none; margin:0}
	.filter-bar .button img{width:17px; margin-right:6px}
	.filter-bar ion-col:first-child {border-right:1px solid #e1e1e1;}
	
	.flex-wrapper .scroll-content{ padding:6px}
	.product-holder{
		border:1px solid #c6c5c5; 
		box-shadow:none; 
		width:100% !important; 
		margin:1.5%!important;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 10px;
	}
	.product-holder img{
		height:120px;
		width: 130px;
    border: 5px solid #ebeaea;
    object-fit: cover;
	}
	.product-holder .card-content{
		// padding:6px; 
		// border-top:1px solid #ececec;
	}
	.product-holder h6{font-family: 'calibribold'; }
	.product-holder .price{font-family: 'calibribold'; color:#f56f30; font-size:14px;}
	.product-holder .model{color:#595959; font-size:1.15rem}

	 .list-flex{ display: flex; flex-wrap: wrap; }
	 .text-field h4{
		 font-size: 20px;
		 font-weight: 600;
	 }
	 .text-field{
		padding: 5px 10px;
	}
	// .list-flex .product-holder{ height: }
	
}
