page-message-form {

 .list > .item-block:first-child{ border-top: 0;}
.list > .item-block{ padding-left: 0;}
.item.item-label-floating .text-input{ color: #606060;}
.button-area{ padding-top: 1.5rem;}
.button{ height: 2.2em;}
.ion-modal {
    padding: 30px;
    background: rgba(0,0,0,0.5);
}
}
