page-bike-success {
    .circle{
        color: #26ca2a;
        font-size: 80px;
        text-align: center;
        display: block;
    }
    .success-title{
        color: #000;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    .center{
        text-align: center;
        font-size: 22px;
        margin-bottom: 25px;
    }
    .top{
        padding-top: 30%;
    }
    }
    