<!--
  Generated template for the SellGearPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sell Gear</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <!-- <ion-card>
        <ion-card-content text-center>
            CHOOSE YOUR GEAR MODEL
        </ion-card-content>
      </ion-card> -->
      
      <!-- <ion-content class="flex-wrapper">
          <ion-card class="ml-0 mr-0 mt-0 w-100 product-holder" *ngFor="let item of gearArray">
          <ion-card-content> 
                  <ion-thumbnail item-start *ngIf="item.path.length != 0"><img src="{{imageUrl+item.path}}" alt="">
                    <img *ngIf="item.path.length == 0" src="assets/imgs/camera.png" alt="">
                  </ion-thumbnail>
                <h6>Category Name: {{item.name}}</h6>
              <h6>Product Id: {{item.id}}</h6>
            <button ion-button item-end (click)="goToGearResult(item.id)">View</button>    
          </ion-card-content>      
          </ion-card>       
</ion-content> -->

<ion-content class="flex-wrapper">
  <!-- <ion-card>
    <ion-card-content text-center>CHOOSE YOUR Gear MODEL</ion-card-content>
  </ion-card> -->
      
  <ion-card class="ml-0 mr-0 mt-0 w-100 product-holder" *ngFor="let item of gearArray">
    <ion-card-content>
     <button style="width:100%" (click)="gearResult(item.id)"> <ion-thumbnail item-start ><img *ngIf="item.path.length != 0" src="{{imageUrl+item.path}}" alt="">
        <img *ngIf="item.path.length == 0" src="assets/imgs/camera.png" alt="">
      </ion-thumbnail></button>
      <h6>{{item.name}}</h6>
      <!-- <h6>Product Id: {{item.id}}</h6> -->
      <button ion-button full text-center (click)="goToGearResult(item.id)">View</button>
    </ion-card-content>
  </ion-card>
</ion-content>
